<app-bread-crumb
  [items]="[{text: 'Usuários'}]"
></app-bread-crumb>

<app-page-header
  page-title="Usuários"
  button-text="+ Novo Usuário"
  button-link="new"
  button-class="btn-success"
></app-page-header>

<table class="table table-hover">
  <thead>
    <tr class="bg-primary text-light">
      <th>Usuário</th>
      <th>Perfil</th>            
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of resources">
      <td>
        <strong>{{usuario.nome}}</strong><br>
        <small>{{usuario.login}}</small>
      </td>
      <td>
        <strong>{{usuario.perfil.nome}}</strong><br>        
        <span [class.text-danger]="usuario.ativo == false" [class.text-success]="usuario.ativo == true" class="badge badge-light">{{usuario.ativo?'Ativo':'Inativo'}}</span>
      </td>
      <td>
        <a [routerLink]="[usuario.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
        <button (click)="deleteResource(usuario)" class="btn btn-outline-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
