<div class="card" style="width:800px;">
<h3 class="card-header">Listar Usuários</h3>
<div class="card-body form-inline ml-5" layout="column">  
  <label for="nome" class="mr-sm-2">Nome</label>
  <form [formGroup]="filterForm" class="my-3 my-lg-2">
      <input type="text" class="form-control" id="nome" formControlName="nome"> 
  </form>
  <button (click)="pesquisar()" class="btn btn-outline-success my-2 my-sm-0 ml-3">Pesquisar</button>
  <button *ngIf="isAdmin()" (click)="novoUsuario()" class="btn btn-outline-success my-2 my-sm-0 ml-3">Novo</button>
</div>

<table class="table table-hover table-striped ml-5" style="width:700px;">
  <thead>
    <tr class="bg-primary text-light">
      <th>Usuário</th>
      <th>Perfil</th>            
      <th *ngIf="isAdmin()">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>
        <strong>{{user.nome}}</strong><br>
        <small>{{user.login}}</small>
      </td>
      <td>
        <strong>{{user.perfil==="ADMIN"?"Administrador":"Usuário"}}</strong><br>        
        <span [class.text-danger]="user.ativo == false" [class.text-success]="user.ativo == true" class="badge badge-light">{{user.ativo?'Ativo':'Inativo'}}</span>
      </td>
      <td *ngIf="isAdmin()" >
        <button (click)="editarUsuario(user)" class="btn btn-outline-info btn-sm mr-2">Edital</button>
        <button (click)="deleteUsuario(user)" class="btn btn-outline-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
</div>