<div class="card">
  <h3 class="card-header">Alterar senha</h3>
  <div class="card-body">
      <form [formGroup]="changePasswordForm">
          <div class="form-row">
            <div class="form-group col-md-10">
              <label for="nome">Nova Senha</label>
              <input type="password" class="form-control" id="senha" formControlName="senha">    
            </div>
          </div>
      </form>
  </div>
  <button [disabled]="changePasswordForm.invalid" (click)="alterar()" class="btn btn-outline-info">
      Alterar
  </button>
</div>