<div>
  <div>
    <h3>Cadastrar Usuários</h3>
    <button (click)="voltar()" class="btn btn-success">Voltar</button>
  </div>
  <div class="card">
      <form [formGroup]="userForm">
          <div class="card-body">
              <div class="form-row">
                <div class="form-group col-md-10">
                  <label for="nome">Nome</label>
                  <input type="text" class="form-control" id="nome" formControlName="nome">    
                </div>
                
                <div class="form-group col-md-5">
                  <label for="login">Login</label>
                  <input type="text" class="form-control" id="login" formControlName="login">
                </div>
    
                <div class="form-group col-md-5">
                    <label for="senha">Senha</label>
                    <input type="password" class="form-control" id="senha" formControlName="senha">
                </div>

                <div class="form-group col-md-5">
                    <label for="perfil">Perfil</label>                
                    <select name="perfil" id="perfil" formControlName="perfil" class="form-control">
                        <option value="ADMIN">Administrador</option>
                        <option value="USER">Usuário</option>
                    </select>
                </div>

                <div class="form-group col-md-5">
                    <label for="ativo">Ativo</label><br> 
                    <div class="btn-group">
                        <label (click)="userForm.get('ativo').setValue(true)" [class.active]="userForm.get('ativo').value == true" class="btn btn-outline-info">
                          Ativo
                        </label>
                        <label (click)="userForm.get('ativo').setValue(false)" [class.active]="userForm.get('ativo').value == false" class="btn btn-outline-info">
                          Inativo
                        </label> 
                    </div>         
                </div>
            </div>            
          </div>
      </form>
  </div>
  <button [disabled]="userForm.invalid" (click)="salvar()" class="btn btn-primary btn-lg float-right mt-3">
      Salvar
  </button>
</div>


