<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4" *ngIf="currentUser">
    <a class="navbar-brand" routerLink="/">Apollus EHS</a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/user">Usuário</a>
        <a class="nav-item nav-link" routerLink="/meu-perfil">Meu Perfil</a>
    </div>
    <button class="btn btn-dark float-right my-2 my-sm-0" (click)="logout()">
        <span class="glyphicon glyphicon-log-out"></span>
        Sair
    </button>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        Todos os direitos reservados por <strong>Caroline Campos</strong>.
        <small>Versão: 1.0.0</small>
    </p>
</div>